extends layout

block content
  include mixins/pokeCard
  div.container
    div.add-button-row
      a.button.save(href="/add") Add Pokemon Card
  div.container
    each pokemonCard in pokemonCards
      +pokeCard(pokemonCard)